<div>
    <h2>Create Product</h2>
    <form (ngSubmit)="createProduct()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newProduct.name" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="newProduct.description"></textarea>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="newProduct.price" required>
      </div>
      <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="newProduct.quantity" required>
      </div>
      <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" [(ngModel)]="newProduct.category">
      </div>
      <button type="submit">Create Product</button>
    </form>
  </div>


  <table>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.productId }}</td>
      <td>{{ product.name }}</td>
      <td>
        <button (click)="deleteProduct(product.productId)">Delete</button>
      </td>
    </tr>
  </table>