<nav class="navbar">
    <div class="container">
      <a class="brand" href="#">MyApp</a>
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="order-list">
    <div *ngFor="let order of orders" class="order-card">
      <h3>Order ID: {{ order.orderId }}</h3>
      <p>User: {{ order.user.name }}</p>
      <p>Total Price: {{ order.totalPrice }}</p>
      <p>Status: {{ order.status }}</p>
      <div>
        <h4>Products:</h4>
        <ul>
          <li *ngFor="let product of order.products">{{ product.name }}</li>
        </ul>
      </div>
    </div>
  </div>